/* @layer properties theme, base, components, utilities; */

/* @import "tailwindcss"; */
@import "tailwindcss/preflight.css" layer(base);
@import "tailwindcss/utilities.css" layer(utilities);

@import "./theme.css" layer(theme);
@import "./layouts.css" layer(base);
@import "./viewTransitions.css";

@source not "./*.css";

@variant dark
  (&: where(.dark, .dark *));

@layer base {
  html {
    height: 100dvh;
  }

  body {
    height: 100%;
  }
  button:not(:disabled),
  [role="button"]:not(:disabled) {
    cursor: pointer;
  }

  button:focus-visible {
    outline: none;
  }
  * {
    line-height: var(--default-text-line-height);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  [disabled] {
    cursor: cursor-not-allowed;
  }
  [hidden] {
    display: none;
  }
}

@utility position-center {
  @apply left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2;
}
