# Devenv
.devenv*
devenv.local.nix

# direnv
.direnv

# pre-commit
.pre-commit-config.yaml

.idea
.lexical
.secret.env
.local.env

.vscode
**/data/pg
dutchpay_umbrella/deps

_dutchpay_umbrella


**/node_modules

**/.elixir_ls

**/_assets

.history


