<!DOCTYPE html>
<html lang="ko" class="h-[100dvh] [scrollbar-gutter:stable]">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="csrf-token" content={get_csrf_token()} />
    <.live_title default="Deopjib" suffix=" · Phoenix Framework">
      {assigns[:page_title]}
    </.live_title>
    <%= if Application.get_env(:live_debugger, :browser_features?) do %>
      <script id="live-debugger-scripts" src={Application.get_env(:live_debugger, :assets_url)}>
      </script>
    <% end %>
    <link rel="stylesheet" as="style" crossorigin href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable-dynamic-subset.min.css"  />
    <link phx-track-static rel="stylesheet" href={~p"/assets/app.css"} />
    <script defer phx-track-static type="text/javascript" src={~p"/assets/app.js"}>
    </script>
  </head>
  <body class="bg-white h-full">
    {@inner_content}
  </body>
</html>
