/* @layer properties theme, base, components, utilities; */

@variant dark (&:where(.dark, .dark *));

@import "tailwindcss" source("../../src");

@import "./layouts.css";

@layer base {
  html {
    height: 100dvh;
  }

  body {
    height: 100%;
  }
  button:not(:disabled),
  [role="button"]:not(:disabled) {
    cursor: pointer;
  }

  button:focus-visible {
    outline: none;
  }
  * {
    line-height: var(--default-text-line-height);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  [disabled] {
    cursor: cursor-not-allowed;
  }
  [hidden] {
    display: none;
  }
}
